.movie-section {
   align-items: center;
    
  }
  
  .Card-position {
    width: auto;
    height: auto;
   
  }
  .imagesList,.imagesList img{
    width: 100%;
    min-height: 50%;
    object-fit: cover;
  }