@import "../../common/colors.scss";
.footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(13, 51, 175);
    color: #fff;
    text-align: center;
    display: flex;
   align-items: spa;
  }