@import "../../common/colors.scss";
.footer {
   
    color: black;
    background-color: rgb(217, 218, 224);
    position: relative;
    margin: 2%; 
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
  }
  
  .container-footer {
  
    display: flex;
    justify-content: center;
    
  }