@import"../src/common/colors.scss";
*{
   
   // box-sizing: border-box;
    margin: 0%;
    font-family: "Roboto",sans-serif;
}
a{
    text-decoration: none;

}
body{
    background-color: $primary-color;
}
.container{
   // margin: 0%;
   //margin: 0px 40;
   padding:5%;
   
}