@import"../src/common/colors.scss";
*{
   
   // box-sizing: border-box;
    margin: 0%;
    font-family: "Roboto",sans-serif;
}
a{
    text-decoration: none;

}
body{
    background-color: rgb(217, 218, 224);
}
.container{
    height: auto;
   background-color: rgb(217, 218, 224);
   margin: 5%; 
   padding: 5%;  
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}